.financing-main {
    grid-row-start: 2;
    grid-row-end: end;
    grid-column-start: 1;
    grid-column-end: end;
    width: 100%;
    justify-self: center;
    font-family: Karla, sans-serif;
}

.heading-container {
    margin-top: -22px;
    height: 100px;
    text-align: center;
    text-decoration-line: underline;
    background-color: cadetblue;
}

.heading-container h1 {
    padding: 30px;
}

.financing-p {
    margin: 40px;
    font-size: 25px;
}

.img-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media screen and (max-width: 800px){
    .img-container img {
        width: 100%;
        height: auto;
    }
}
