body {
    margin: 0;
}

/* NAVIGATION */

.navbar {
    position: relative;
    background-color: #bdd0c4;
    overflow: hidden;
    align-self: start;
}

.navbar a {
    float: left;
    color: darkslategrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
}

.navbar a.noPadding {
    padding: 0;
}

.navbar a:hover {

    text-decoration: underline;
    text-decoration-color: darkslategrey;
    text-decoration-style: solid;
    font-weight: bold;
}

.navbar a.active {
    text-decoration: underline;
    text-decoration-color: darkslategrey;
    text-decoration-style: solid;
    font-weight: bold;
}

.center{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center a {
    padding: 14px 16px;
}

.navbar .right {
    float: right;
}


@media screen and (max-width: 830px) {
    .navbar a, .navbar .right {
        float: none;
        display: block;
    }

    .navbar .center {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
    .logo img {
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
}

.logo img {
    width: 200px;
    margin-left: 25px;
    padding: 14px 16px;
    transform: translate(0, 5px);
}

.containerFullScreen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
    width: 100vw;
    min-height: 80vh;

}

.containerFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    min-height: 20vh;
    background-color: grey;
    color: white;
}

.footerLogo{
    grid-row-start: 1;
    grid-row-end: end;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    margin-left: 20px;

    content: url("../images/UN Logo.png");
    width: auto;
    height: 75px;
}

.main {
    grid-row-start: 2;
    grid-row-end:end;
    grid-column-start: 1;
    grid-column-end: end;
    background-color: green;
    width: 100%;
}