body {
    margin: 0;
}

/* NAVIGATION */

.navbar {
    position: relative;
    background-color: #bdd0c4;
    overflow: hidden;
    align-self: start;
}

.navbar a {
    float: left;
    color: darkslategrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
}

.navbar a.noPadding {
    padding: 0;
}

.navbar a:hover {

    text-decoration: underline;
    text-decoration-color: darkslategrey;
    text-decoration-style: solid;
    font-weight: bold;
}

.navbar a.active {
    text-decoration: underline;
    text-decoration-color: darkslategrey;
    text-decoration-style: solid;
    font-weight: bold;
}

.center{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center a {
    padding: 14px 16px;
}

.navbar .right {
    float: right;
}


@media screen and (max-width: 830px) {
    .navbar a, .navbar .right {
        float: none;
        display: block;
    }

    .navbar .center {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
    .logo img {
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
}

.logo img {
    width: 200px;
    margin-left: 25px;
    padding: 14px 16px;
    transform: translate(0, 5px);
}

.footer-container {
    position: absolute;
    left: 0;
    justify-self: end;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.footer-container .alignLeft img {
    height: 50px;
    width: auto;
    margin: 20px;
}

.footer-container .alignRight a {
    margin-top: 20px;
    margin-bottom: 20px;
}

.alignLeft {
    float: left;
}

.alignRight{
    float: right;
}

.footer-container div.info {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: left;
    font-family: 'Karla', sans-serif;
}