body {
    margin: 0;
}

/* NAVIGATION */

.navbar {
    position: relative;
    background-color: #bdd0c4;
    overflow: hidden;
    align-self: start;
}

.navbar a {
    float: left;
    color: darkslategrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
}

.navbar a.noPadding {
    padding: 0;
}

.navbar a:hover {

    text-decoration: underline;
    text-decoration-color: darkslategrey;
    text-decoration-style: solid;
    font-weight: bold;
}

.navbar a.active {
    text-decoration: underline;
    text-decoration-color: darkslategrey;
    text-decoration-style: solid;
    font-weight: bold;
}

.center{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center a {
    padding: 14px 16px;
}

.navbar .right {
    float: right;
}


@media screen and (max-width: 830px) {
    .navbar a, .navbar .right {
        float: none;
        display: block;
    }

    .navbar .center {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
    .logo img {
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
}

.logo img {
    width: 200px;
    margin-left: 25px;
    padding: 14px 16px;
    transform: translate(0, 5px);
}